@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1,h2 {
    font-family: Oswald,sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}




#logo {
    font-size: 100%;
    color: #2176AE;
    
}
/*navigation link 
#menu {
    font-size: 110%;
    letter-spacing: 4px;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
} */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #B58E7D;
}

.navbar #logo{

    line-height: 75px;
}

.navbar li {
    list-style-type: none;
    margin-right: 2rem;
    font-family: Oswald;
    font-size: 75%;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}
 .nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
 }
.navbar a:hover {
    border-bottom: 2px solid #2176AE;
}

/*.active {
    border-bottom: 1px solid black;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text, h2 {

    color:rgb(21, 22, 22);

}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('/images/hero-imageproject1.jpg') no-repeat;
    background-size: cover;
    background-position: 20% 45%;
    


    /* animates zoom effect on loading the page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode:backwards;

}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}


#cover-text {
    font-size: 50%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    width: 100px;
    height: 200px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: rgba(252, 255, 254, 0.63);
    bottom: 200px;
    right: 200px;
    margin-left: 20px;
    position: absolute;
}



footer {
    height: 150px;
    background-color: #CCD5FF;

}

.social-networks {
   text-align: center;
   /* display:flex;
    justify-content: space-evenly;
    align-items:center;*/

}

.social-networks > li {
    display: inline; 
    
}


 .social-networks i {
    font-size: 100%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}


/* For medium screen sizes from 950px wide and down */

/*@media screen and (max-width: 950px){
    .navbar {

        clear: left;
        float: left;
        margin-left: 30px;
        margin-top: 20px;
        line-height: 25px;
    } 

    #cover-text {
        left: 0;
    }

  /*  #club-ethos {
        width:90%;
        height: 1200px;
        margin: 0 auto;

    }

    .left-about-heading, .right-about-heading {
        width: inherit;

    }

    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p {

        text-align: center;
        padding: 0 20px;

    }

    #photos {
        column-count: 3;
    }
} */
@media screen and (min-width:337px) {

    .nav-item {
        list-style-type: none;
        margin-right: 2rem;
    
        font-family: Oswald;
        font-size: 75%;
    }
    .social-networks i {
        font-size: 75%;
        margin: 1%;
        padding: 5%;
        color: #3a3a3a;
    }

    #cover-text {
        font-size: 50%;
        font-family: Oswald, sans-serif;
        text-transform: uppercase;
        width: 100px;
        height: 100px;
        padding-top: 20px;
        padding-left: 10px;
        background-color: rgba(252, 255, 254, 0.63);
        bottom: 300px;
        right: 200px;
        margin-left: 20px;
        position: absolute;
    }
}

@media screen and (min-width: 557) {

    .nav-item {
        list-style-type: none;
        margin-right: 2rem;
    
        font-family: Oswald;
        font-size: 100%;
    }
    .social-networks i {
        font-size: 100%;
        margin: 1%;
        padding: 5%;
        color: #3a3a3a;
    }
    #cover-text {
        font-size: 75%;
        font-family: Oswald, sans-serif;
        text-transform: uppercase;
        width: 200px;
        height: 150px;
        padding-top: 20px;
        padding-left: 10px;
        background-color: rgba(252, 255, 254, 0.63);
        bottom: 300px;
        margin-left: 20px;
        position: absolute;
    }
} 
    
